In [1]:
from pathlib import Path

import numpy as np
import pandas as pd

In [2]:
vegetation_data_path = Path("../data/raw/vegetation_indices/")

In [3]:
vegetation_data = pd.read_csv(vegetation_data_path / "vegetation_indices_monthly.csv")

In [4]:
vegetation_data.head()

,system:index,EVI,NDVI,community,date,province,.geo
0,2000_02_18_00000000000000000003,1666.087474,2910.739643,Andalucía,2000-02-18T00:00:00,Almería,"{""type"":""MultiPoint"",""coordinates"":[]}"
1,2000_02_18_0000000000000000000a,3603.938705,5594.445332,Andalucía,2000-02-18T00:00:00,Cádiz,"{""type"":""MultiPoint"",""coordinates"":[]}"
2,2000_02_18_0000000000000000000d,3102.277765,4941.543856,Andalucía,2000-02-18T00:00:00,Córdoba,"{""type"":""MultiPoint"",""coordinates"":[]}"
3,2000_02_18_00000000000000000011,1918.489158,3235.196941,Andalucía,2000-02-18T00:00:00,Granada,"{""type"":""MultiPoint"",""coordinates"":[]}"
4,2000_02_18_00000000000000000014,2556.650933,4650.023857,Andalucía,2000-02-18T00:00:00,Huelva,"{""type"":""MultiPoint"",""coordinates"":[]}"

In [6]:
vegetation_data = vegetation_data.drop(columns=["system:index", ".geo"])

In [9]:
vegetation_data["date"] = pd.to_datetime(vegetation_data["date"])

In [22]:
vegetation_data["date"] = vegetation_data.date.dt.to_period("M").dt.to_timestamp()

In [31]:
vegetation_data = vegetation_data.groupby(by=["province", "date"], as_index=False).agg(
    EVI=("EVI", "mean"), NDVI=("NDVI", "mean")
)

In [32]:
vegetation_data.head()

   province       date          EVI         NDVI
0  A Coruña 2000-02-01  3738.468622  6952.356515
1  A Coruña 2000-03-01  3837.875556  6606.549675
2  A Coruña 2000-04-01  4058.913004  6752.119118
3  A Coruña 2000-05-01  4706.062028  7214.755863
4  A Coruña 2000-06-01  4797.657555  7416.969495

In [36]:
output_path = Path('../data/processed/vegetation_indices/')

In [37]:
vegetation_data.to_parquet(output_path / "vegetation_indices_monthly.parquet", index=False)